<div class="app-card-container">
  <div class="card">

		<h1>About Me</h1>

		<hr>

	<div class="row">
		 <div class="col-md-4">
		    <%= image_tag "profile.jpg", width: '100%', alt: "profile image", class: 'profile-img' %>
		    <div class="skills">
	          <% @skills.each do |skill| %>
	            <div class="skill">
	              <h4><%= skill.title %></h4>
	              <div class="progress">
	                <div
	                  class="progress-bar progress-bar-striped bg-warning"
	                  role="progressbar"
	                  aria-valuenow="<%= skill.percent_utilized %>"
	                  aria-valuemax="100"
	                  style="width: <%= skill.percent_utilized %>%"
	                ></div>
	              </div>
	            </div>
	          <% end %>
	        </div>
		  </div>


		  <div class="col-md-8">
		    <div class= "jumbotron jumbo-about-me">

				<p class="p">Thank you for visiting my home on the Web. This is a site I have built to display projects I have worked on and host my Blog where I write about topics ranging from my favorite books to programming basics. </p>
        <hr>

				<p class="p"> I am a Web Developer who is primarily focused on Ruby on Rails based development. I am passionate about learning and always growing my development tool kit. Please visit my Contact page if you would like to work together.  </p>


           </div>
			          <button
			            class="btn btn-warning btn-block"
			            type="button"
			            data-toggle="collapse"
			            data-target="#jobHistory"
			            aria-expanded="false"
			            aria-controler="jobHistory"
			          >
			            Job History
			          </button>

			          <button
			            class="btn btn-warning btn-block"
			            type="button"
			            data-toggle="collapse"
			            data-target="#education"
			            aria-expanded="false"
			            aria-controler="education"
			          >
			            Education
			          </button>

			           <!-- <button
			            class="btn btn-warning"
			            type="button"
			            data-toggle="collapse"
			            data-target="#books"
			            aria-expanded="false"
			            aria-controler="books"
			          >
			            Favorite Books
			          </button> -->

			          <!-- <button
			            class="btn btn-warning"
			            type="button"
			            data-toggle="collapse"
			            data-target="#activities"
			            aria-expanded="false"
			            aria-controler="activities"
			          >
			            Things of Interest
			          </button> -->



			          <div class="collapse" id="jobHistory">
			            <div class="card card-block">
			              Product Development <a  href="https://www.premier.ag/home" target= "#">Premier Ag.</a>
			            </div>
			            <div class="card card-block">
			              Social Media Analyst<a  href="https://www.nuvi.com/" target= "#">Nuvi Inc.</a>
			            </div>
			          </div>

			          <div class="collapse" id="education">
			            <div class="card card-block">
			              Big Bend Community College
			            </div>
			            <div class="card card-block">
			              Utah Valley University
			            </div>
			            <div class="card card-block">
			              Bottega Tech
			            </div>
			            </div>

			             <!-- <div class="collapse" id="books">
			            <div class="card card-block">
			             Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future <b>Ashlee Vance</b><a  href="http://www.goodreads.com/book/show/22535480-elon-musk?from_search=true" target= "#">See here.</a>
			            </div>
			            <div class="card card-block">
			             Genghis Khan and the Making of the Modern World <b>Jack Weatherford</b><a  href="http://www.goodreads.com/book/show/93426.Genghis_Khan_and_the_Making_of_the_Modern_World?from_search=true" target= "#">See here.</a>
			            </div>
			            <div class="card card-block">
			             How to Fail at Almost Everything and Still Win Big: Kind of the Story of My Life <b>Scott Adams</b><a  href="http://www.goodreads.com/book/show/17859574-how-to-fail-at-almost-everything-and-still-win-big?ac=1&from_search=true" target= "#">See here.</a>
			            </div>
			            </div> -->
<!--
			            <div class="collapse" id="activities">
			            <div class="card card-block">
			              Brazilian Jiu Jitsu Practitioner<a  href="http://bjjutah.com/" target= "#">Learn more.</a>
			            </div>
			            <div class="card card-block">
			              Ketogenic-Diet Proponent<a  href="http://www.ketonutrition.org/" target= "#">Learn More.</a>
			            </div>
			            <div class="card card-block">
			              Podcast Enthusiast<a  href="https://dag-portfolio.herokuapp.com/topics/6" target= "#">Learn More.</a>
			            </div>
			          </div> -->
		 	 </div>
 		</div>
	</div>
</div>
