<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
  <div class="photoo">
    <%= image_tag "IMG_6869.jpg", width: 300, alt: "profile image" %>
    </div>
  </div>

  <div class="col-md-8">
    <div class= "aabout"> 
		<p>With 22 years of life experience a few months ago I decided to learn to code. This was always something I didn’t think was possible. I am from a small town in <font color= #699>Washington</font>. And for someone from like me, dreams of computers and technology are not always realistic.</p>

		<p>When I moved to Utah to pursue an education I discovered these amazing things. These things called “Coding Bootcamps”. And with an elightening change in perspective I became enthrawled with the idea. For 3 months, you dedicate your time to learning an in demand skill. Then join the work force making a nice salary. Plus.. the ability to create on a level you never thought you could. This is where I am at now, but wont be for long.</p>
 		</div>
 	 </div>
 </div>




