<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
  <br>
    <h3>Office Address</h3>
    

    <p>284 E 600 N Apt 12, Provo UT, 84606</p>
    
    <h3>Phone</h3>
    

    <p><%= number_to_phone "5095318776" %></p>
    

    <h3>Email</h3>
   

    <p><a href="mailto:dgibbbs17@gmail.com?subject=PortfolioContact" "email me">dgibbbs17@gmail.com</a> </p>
  </div>


<div class="col-md-6">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.541835321754!2d-111.6561706843512!3d40.24148807420227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d90b20035c323%3A0x895a07c150d9575c!2s284+E+600+N+St%2C+Provo%2C+UT+84606!5e0!3m2!1sen!2sus!4v1493157462868" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>



