         <div class="inner cover">
            <h1 class="cover-heading">Chewy, We're Home</h1>
            <p class="lead">Welcome to my site, I hope you find what you are looking for</p>
            <p class="lead">
              <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
            </p>
          </div>

      



